<center>
    <div class="lion">
        <img src="/12323.jpg"></img>
    </div>
    <div class="alco">
        <h1> <%= @post.user.name %> 술쟁이 사자의 정보</h1>
        <h2>닉네임 : <%= @post.user.nickname %></h2>
        <h2>대학교 : <%= @post.user.university %></h2>
        <h2>주량 : <%= @post.user.capacity %></h2>
    </div>
    <div class="goback">
        <a href="/home/calender">목록으로</a><br>
        <a href='/'>홈으로</a>
    </div>
</center>